<!DOCTYPE html>
<html>
<head>
    <title>Driver Login</title>
    <style>
        body {
            background:#0f172a;
            color:white;
            font-family:Arial;
            text-align:center;
            padding-top:100px;
        }

        input {
            padding:10px;
            margin:10px;
            width:200px;
        }

        button {
            padding:10px 20px;
            background:#38bdf8;
            border:none;
            font-weight:bold;
            cursor:pointer;
        }
    </style>
</head>
<body>

<h2>🚑 Ambulance Driver Login</h2>

<form method="POST">
    <input type="text" name="username" placeholder="Username"><br>
    <input type="password" name="password" placeholder="Password"><br>
    <button type="submit">Login</button>
</form>

</body>
</html>
d